<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%- htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div>sssssss</div>
	    <div>qa</div>
	 	<div>dajiahao</div>
		<div>
			<%- htmlWebpackPlugin.options.name %>
			<div>asdafdsfasfdsdafsaf</div>
		</div>
	</body>
</html>
